{% extends 'base.html' %}

{% block content %}
  {% include 'includes/header2.html' %}
  <h1 class="page-header text-center">
    Download
  </h1>
  {% if user.is_authenticated %}
    <form class="text-right">
       <a href="{% url 'Dream:logout'%}" class="btn btn-primary pull-right">Log out</a>
    </form>
  {% else %}

    <form class="text-right">
      <a href="{% url 'Dream:login' %}" class="btn btn-primary pull-right">Log in</a>
    </form>
  {% endif %}
  {% block file_upload_content %}
  {% endblock %}
{% endblock %}