{% extends 'Dream/base_login.html' %}

{% block content %}
  <div class="row" style="position:absolute; left:40%; width:70%; margin-top:30px;">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Log in</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'Dream/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}