{% extends 'base.html' %}

{% load static %}

{% block content %}
<form method="post" action="{% url 'Dream:clear_database' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.path }}">
  <button type="submit" class="btn btn-danger pull-right">
    <span class="glyphicon glyphicon-trash"></span> Clear Database
  </button>
</form>

<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
     
    </div>
  </div>
  <div class="col-md-9">

  <!--File Upload-->
<div style="margin-bottom: 20px;">
  <button type="button" class="btn btn-primary js-upload-Dream">
    <span class="glyphicon glyphicon-cloud-upload"></span> Upload File
  </button>
  <input id="fileupload" type="file" name="file" multiple
         style="display: none;"
         data-url="{% url 'Dream:progress_bar_upload' %}"
         data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
</div>

<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>File List</th>
    </tr>
  </thead>
   <tbody>
   {% for d_file in files %}
      <tr>
        <td><a href="{{ d_file.file.url }}">{{ d_file.file.name }}</a></td>
      </tr>
   {% endfor %}
   </tbody>
</table>
  </div>
</div>
{% endblock %}
