{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header"> Dream File Upload Filtering</h1>
  <p class="lead">See the example live clicking in the Dream menu.</p>
  <hr>
  <h2>Abstract</h2>
  <ul>
    <h3>The number of malicious codes is rapidly increasing worldwide. Recently, damage caused by document type malicious code such as PDF file and MS Office is increasing.
      However, very few anti-virus softwares are available to detect them professionally. This project develops an engine that detects malicious documents using machine learning.
      We expect to prevent the spread of malicious documents and to reduce instances of damage caused by document type malicious code. The engine can also be developed as open-source software, so it can be modified and supplemented by multiple users.</h3>
  </ul>
{% endblock %}