{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DREAM</title>

  <!-- Bootstrap core CSS -->
 <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">
 
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Dream Project</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          <li{% if '/Dream/' in request.path %} class="nav-item mx-0 mx-lg-1" {% endif %}>
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">File-Upload</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

   <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="{% static 'img/Logo.png' %}" alt="">
      <h1 class="text-uppercase mb-0">Do it!</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">Kookmin.Univ 2019 capstone design 8 team</h2>
    </div>
  </header>

    <!-- About Section -->
  <section id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">About</h2>
      <hr class="star-dark mb-5">
       <div class="text-center mt-4">
         <p class="lead">This web page made to only implement <b>DREAM</b> engine by uploading document files.</p>
         </div>
      <div style="text-align:left; margin-left: 300px;">
       
         <p class="lead" style="font-size: 50px">
           <span style="color:green;font-weight: bold">D</span>etecting<br>
           in <span style="color:green;font-weight: bold">R</span>eal<br>
           tim<span style="color:green;font-weight: bold">E</span><br>
           m<span style="color:green;font-weight: bold">A</span>licious documents<br>
           using <span style="color:green;font-weight: bold">M</span>achine learning
         </p>

      </div>
     
    </div>
  </section>


  <!-- File Upload Section -->
  <section id="contact">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">File Upload</h2>
      <hr class="star-dark mb-5">

       <div class="text-center mt-4">
         <p class="lead"> Click Upload File button to upload document files.</p>
      </div>
        <div>
          {% block content %}
          {% endblock %}
        </div>
        <br> <br> <br> <br> <br>
      </div>
    </div>
  </section>




<!-- Bottom -->
  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Dream - Do it! Kookmin.Univ 2019 capstone design project 8 team</small>
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

 
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# PAGE SCRIPTS #}
  <script src="{% static 'Dream/js/progress-bar-upload.js' %}"></script>
</body>

</html>
